USE [master]
GO
/****** Object:  Database [ZOO]    Script Date: 2017-04-05 21:38:22 ******/
CREATE DATABASE [ZOO]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ZOO', FILENAME = N'B:\Piotrek\Inf\C#\Kredek_C#\MSSQL13.KREDEKINSTANCE\MSSQL\DATA\ZOO.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ZOO_log', FILENAME = N'B:\Piotrek\Inf\C#\Kredek_C#\MSSQL13.KREDEKINSTANCE\MSSQL\DATA\ZOO_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ZOO].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ZOO]
GO
USE [ZOO]
GO
/****** Object:  Table [dbo].[Animals]    Script Date: 2017-04-05 21:38:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Animals](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Species] [nvarchar](50) NOT NULL,
	[Amount] [int] NOT NULL,
 CONSTRAINT [PK_Animals] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Sloths]    Script Date: 2017-04-05 21:38:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sloths](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Age] [int] NOT NULL,
	[ZookeeperID] [int] NOT NULL,
	[AnimalID] [int] NOT NULL,
 CONSTRAINT [PK_Sloths] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Zookeeper]    Script Date: 2017-04-05 21:38:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Zookeeper](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Surname] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Zookeeper] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Animals] ON 

INSERT [dbo].[Animals] ([ID], [Species], [Amount]) VALUES (1, N'Leniwce', 56)
INSERT [dbo].[Animals] ([ID], [Species], [Amount]) VALUES (2, N'Zyrafy', 32)
INSERT [dbo].[Animals] ([ID], [Species], [Amount]) VALUES (3, N'Lwy', 12)
SET IDENTITY_INSERT [dbo].[Animals] OFF
SET IDENTITY_INSERT [dbo].[Sloths] ON 

INSERT [dbo].[Sloths] ([ID], [Name], [Age], [ZookeeperID], [AnimalID]) VALUES (1, N'Klawisz', 12, 1, 1)
INSERT [dbo].[Sloths] ([ID], [Name], [Age], [ZookeeperID], [AnimalID]) VALUES (2, N'Przemek', 3, 3, 1)
INSERT [dbo].[Sloths] ([ID], [Name], [Age], [ZookeeperID], [AnimalID]) VALUES (3, N'Kieł', 1, 1, 1)
SET IDENTITY_INSERT [dbo].[Sloths] OFF
SET IDENTITY_INSERT [dbo].[Zookeeper] ON 

INSERT [dbo].[Zookeeper] ([ID], [Name], [Surname]) VALUES (1, N'Anna', N'Nowak')
INSERT [dbo].[Zookeeper] ([ID], [Name], [Surname]) VALUES (3, N'Paulina', N'Lis')
INSERT [dbo].[Zookeeper] ([ID], [Name], [Surname]) VALUES (4, N'Piotr', N'Gruszka')
SET IDENTITY_INSERT [dbo].[Zookeeper] OFF
ALTER TABLE [dbo].[Sloths]  WITH CHECK ADD  CONSTRAINT [FK_Sloths_Animals] FOREIGN KEY([AnimalID])
REFERENCES [dbo].[Animals] ([ID])
GO
ALTER TABLE [dbo].[Sloths] CHECK CONSTRAINT [FK_Sloths_Animals]
GO
ALTER TABLE [dbo].[Sloths]  WITH CHECK ADD  CONSTRAINT [FK_Sloths_Zookeeper] FOREIGN KEY([ZookeeperID])
REFERENCES [dbo].[Zookeeper] ([ID])
GO
ALTER TABLE [dbo].[Sloths] CHECK CONSTRAINT [FK_Sloths_Zookeeper]
GO
USE [master]
GO
